<div class="contact container">
  <div class= "content_wrapper">
    <% provide(:title, 'Contact') %>
    <h1 class="title">Contact</h1>
    <p class="text-centered">
      Contact me via my
      <a href="http://www.samanthawijesinha.com">contact page</a>.
    </p>
  </div>
</div>
