
<div class="container">
  <header id="top" class="header">
          <h1 class="title">View current and past development planning applications.</h1>
      <div class="signup">
        <%= link_to "Sign up now!", signup_path, class: "signup-btn btn btn-lg" %>
      </div>
  </header>
</div>
