

<h1>Welcome to the Melbourne Planning Data Map</h1>

  <h2>
    View current and past development planning application status.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
