<% provide(:title, @user.firstname) %>
<div class="container search-container">
  <div class="page-header">
    <h3>Welcome, <%= @user.firstname %></h3>
  </div>
  <form action="users/show" class="results-input">
    <div class="row">
      <div class="col-md-4">
        <input type="text" id="tags" class="search-input" placeholder="suburb">
      </div>
      <div class="col-md-4">
        <select class="status">
          <option name="search-status" value="APPLIED" checked> Applied</option>
          <option  name="search-status" value="MOOTED"> Mooted</option>
          <option name="search-status" value="ABANDONED"> Abandoned </option>
          <option name="search-status" value="COMPLETED"> Completed </option>
          <option name="search-status" value="APPROVED"> Approved </option>
          <option name="search-status" value="UNDER CONSTRUCTION"> Under Construction </option>
        </select>
      </div>
      <div class="col-md-4">
        <button class="search-btn btn btn-primary center">Search</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 toggle">
        <p>List</p>
        <label class="switch">
          <input type="checkbox" class="toggle-input">
          <div class="slider"></div>
        </label>
        <p>Map</p>
      </div>
    </div>
  </form>
</div>







<div class="map-styling">
  <div id="map" >
  </div>
</div>

<div class="wrapper">
</div>



<script id="property_template" type="text/x-handlebars-template">
  <div class="property" data-id="{{ development_key }}">
    <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title">{{street_address}}</h3>
          <span class="status">Status: </span>{{ status }}
        </div>
      <div class="panel-body">
        {{#if resi_dwelling}}

          <span>No of Residential Dwellings: </span>{{ resi_dwelling }}
        {{else}}
        {{/if}}

        {{#if one_bdrm_dwe}}
            <span>No of 1 Bedrooms: </span>{{ one_bdrm_dwe }}
        {{else}}
        {{/if}}

        {{#if two_bdrm_dwe}}
            <span>No of 2 Bedrooms: </span>{{ two_bdrm_dwe }}
        {{else}}
        {{/if}}

        {{#if two_bdrm_dwe}}
            <span>Floors: </span>{{ floors_above }}
        {{else}}
        {{/if}}

        {{#if office_flr}}
            <span>Office Space: </span>{{ office_flr }}<sup>2</sup>
        {{else}}
        {{/if}}

        {{#if retail_flr}}
            <span>Retail Space: </span>{{ retail_flr }}<sup>2</sup>
        {{else}}
        {{/if}}

        {{#if bike_spaces}}
            <span>Bike spaces: </span>{{ bike_spaces }}
        {{else}}
        {{/if}}

        {{#if car_spaces}}
            <span>Car Spaces: </span>{{ car_spaces }}
        {{else}}
        {{/if}}

        {{#if town_planning_application_no}}
            <span>Planning Number: </span>{{ town_planning_application_no }}
        {{else}}
        {{/if}}
    </div>
  </div>
  </div>
  </script>

<script>
   $('#map').css("display","none");
   $('.wrapper').css("display","block");

  $(".toggle-input").click(function(){

    if ($(".toggle-input").prop('checked') === false){
      $('#map').css("display","none");
      $('.wrapper').css("display","block");
    };

    if($(".toggle-input").prop('checked') === true){
      $('#map').css("display","block");
      $('.wrapper').css("display","none");
    };
  google.maps.event.trigger(map, 'resize');

  });
</script>
