<% provide(:title, @user.firstname) %>
<div class="container search-container">
  <div class="page-header">
    <h3>Welcome, <%= @user.firstname %></h3>
  </div>
  <form action="users/show" class="results-input">
    <div class="row text-center">
      <div class="col-md-3 suburb-wrapper">
        <input type="text" id="autocomplete" class="search-input" placeholder="suburb">
      </div>
      <div class="col-md-3 status-wrapper">
        <select class="status">
          <option name="search-status" value="APPLIED" checked> Applied</option>
          <option  name="search-status" value="MOOTED"> Mooted</option>
          <option name="search-status" value="ABANDONED"> Abandoned </option>
          <option name="search-status" value="COMPLETED"> Completed </option>
          <option name="search-status" value="APPROVED"> Approved </option>
          <option name="search-status" value="UNDER CONSTRUCTION"> Under Construction </option>
        </select>
      </div>
      <div class="col-md-3 toggle">
        <input type="checkbox" id="toggle_btn"  data-toggle="toggle" data-on="Map" data-off="List">

      </div>
      <div class="col-md-3 search-btn-wrapper">
        <button class="search-btn btn btn-primary center">Search</button>
      </div>
    </div>
  </form>
</div>


<div class="map-styling">
  <div id="map" >
  </div>
</div>

<div class="wrapper">
</div>



<script id="property_template" type="text/x-handlebars-template">
  <div class="property" data-id="{{ development_key }}">
    <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title"><a href='http://www.melbourne.vic.gov.au/building-and-development/property-information/planning-building-registers/Pages/town-planning-permits-register-search-results.aspx?permit={{ town_planning_application_no }}' target="_blank">{{street_address}}</a></h3>
          <span class="status">Status: </span>{{ status }}
        </div>
      <div class="panel-body">
        {{#if resi_dwelling}}
          <span>No of Residential Dwellings: </span>{{ resi_dwelling }}
        {{else}}
        {{/if}}

        {{#if one_bdrm_dwe}}
          <br>
            <span>No of 1 Bedrooms: </span>{{ one_bdrm_dwe }}
        {{else}}
        {{/if}}

        {{#if two_bdrm_dwe}}
          <br>
            <span>No of 2 Bedrooms: </span>{{ two_bdrm_dwe }}
        {{else}}
        {{/if}}

        {{#if two_bdrm_dwe}}
          <br>
            <span>Floors: </span>{{ floors_above }}
        {{else}}
        {{/if}}

        {{#if office_flr}}
          <br>
            <span>Office Space: </span>{{ office_flr }}<sup>2</sup>
        {{else}}
        {{/if}}

        {{#if retail_flr}}
          <br>
            <span>Retail Space: </span>{{ retail_flr }}<sup>2</sup>
        {{else}}
        {{/if}}

        {{#if bike_spaces}}
          <br>
            <span>Bike spaces: </span>{{ bike_spaces }}
        {{else}}
        {{/if}}

        {{#if car_spaces}}
          <br>
            <span>Car Spaces: </span>{{ car_spaces }}
        {{else}}
        {{/if}}

        {{#if town_planning_application_no}}
          <br>
            <span>Planning Number: </span>{{ town_planning_application_no }}
        {{else}}
        {{/if}}
    </div>
  </div>
  </div>
  </script>
