body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;

}

/*NAVIGATION*/

nav {
  background-color: #3e474f;
  color: #EBEBEB;
}

.logo {
  font-size: 2em;
  font-family: 'Palanquin Dark', sans-serif;
}

.align-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-item {
  padding-right: 30px;
  padding-bottom: 10px;
}

/********FOOTER*******/

#social {
  width: 50px;
  height: 50px;
}
footer {
  display: flex;
 flex-direction: row;
 background-color: #3e474f;
 padding-top: 30px;
 padding-bottom: 30px;
 color: #EBEBEB;
}

/********MAP/SEARCH*******/
#map {
  width: 500px;
  height: 500px;
  display: none;
}

.search-properties {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: yellow;
}

#tags {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}

.status {
  margin-left: 50px;
}
.search-btn {
  color: #EBEBEB;
    background-color: #3498DB;
    border: none;
    border-radius: 10px;
    width:100px;
    height: 30px;

  }

.error {
  display: none;
  font-size: 50px;
  width: 40%;
  background-color: red;
  color: white;
  position: absolute;
  top: 50%;
}

/*//toggle*/

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-input:checked + .slider {
  background-color: #e67e22;
}

.toggle-input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle-input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch .toggle-input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #EBEBEB;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle{
  width: 150px;
  display: inline-flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  margin-left: 35px;
}

/********search result*******/

.field {
  background-color: tomato;

}
.property {
  border-bottom: 2px solid;
}

span {
  font-weight: bold;
  font-family: 'Palanquin Dark', sans-serif;
}

.wrapper {
  display: none;

}
